<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>UNT</title>
  </head>
  <body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg py-1 navbar-dark bg-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#vav01" aria-controls="vav01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="vav01">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="https://www.unitru.edu.pe/admision.aspx">Resultados Admisión</a>
                    </li>
                    <span class="text-light d-none d-lg-block my-auto">|</span>
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="https://www.unitru.edu.pe/convocatoria.aspx">Convocatorias</a>
                    </li>
                    <span class="text-light d-none d-lg-block my-auto">|</span>
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="http://correo.unitru.edu.pe" target="_blank">Correo Institucional</a>
                    </li>
                    <span class="text-light d-none d-lg-block my-auto">|</span>
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="http://transparencia.unitru.edu.pe/startbootstrap/" target="_blank">Buscador de soluciones</a>
                    </li>
                    <span class="text-light d-none d-lg-block my-auto">|</span>
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="http://transparencia.unitru.edu.pe/startbootstrap/login.php" target="_blank">Actas de Consejo de Facultad</a>
                    </li>
                    <span class="text-light d-none d-lg-block my-auto">|</span>
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Iniciar Sesión</a>
                    </li>
                    
                </ul>
                </div>
            </div>
        </nav>
        <div class="row ">
            <div class="col-md-6 text-center">
                <img src="https://www.unitru.edu.pe/Recursos/img-unt/logo-unt1.png" class="img-fluid w-25" alt="imagen unt">
            </div>
            <div class="col-md-6 text-center">
                <img src="https://www.unitru.edu.pe/Recursos/img-unt/Transparencia.png" class="img-fluid w-25" alt="imagen unt">
            </div>
        </div>
        <nav class="navbar navbar-expand-lg py-4 navbar-dark container" style="background-color: #12377B;z-index: 1;">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav02" aria-controls="nav02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="nav02">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Resultados Admisión</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Convocatorias</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Correo Institucional</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Buscador de soluciones</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Actas de Consejo de Facultad</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Iniciar Sesión</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
        <div id="carouselExampleFade" class="carousel slide carousel-fade mb-5" style="margin-top:-2em;z-index: 0;" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3500">
                <img src="https://unitru.edu.pe/webfiles///Banner/2021/1/8_Banner_27012021040331.jpg" class="d-block mx-auto img-fluid" style="width:100vw;height:34vw;" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="3500">
                <img src="https://unitru.edu.pe/webfiles///Banner/2021/2/9_Banner_24022021071920.jpg" class="d-block mx-auto img-fluid" style="width:100vw;height:34vw" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="3500">
                <img src="https://unitru.edu.pe/webfiles///Banner/2020/11/7_Banner_271120200636.jpg" class="d-block mx-auto img-fluid" style="width:100vw;height:34vw" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="3500">
                <img src="https://unitru.edu.pe/webfiles///Banner/2021/1/6_Banner_26012021104952.jpg" class="d-block mx-auto img-fluid" style="width:100vw;height:34vw" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="3500">
                <img src="https://unitru.edu.pe/webfiles///Banner/2021/1/5_Banner_26012021105421.jpg" class="d-block mx-auto img-fluid" style="width:100vw;height:34vw" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="row mb-5">
            <div class="col-md-4 offset-md-2">
                <div class="h2 mb-4">
                PALABRAS DEL 
                <span class="text-warning">
                    RECTOR
                </span>
                </div>
                <div class="text-secondary">
                Un saludo muy especial a la comunidad universitaria y al público en general. Quiero aprovechar la oportunidad para agradecer la participación de los docentes, estudiantes y administrativos en el manejo de la universidad durante estos primeros meses de mi gestión, el cual durará hasta el año 2025.
                <br><br>
                Este 2021 cumpliremos 197 años de Fundación y 190 años de instalación de nuestra Universidad Nacional de Trujillo, y por medio de esta página web queremos reflejar lo que podemos lograr juntos y lo lejos que podemos llegar, si nos proponemos objetivos ambiciosos, nos ponemos a trabajar y los cumplimos.
                </div>
            </div>
            <div class="col-md-6">
                <iframe src="https://www.youtube.com/embed/I-HjhZO0Ey0" style="width:80%;height:100%" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" id="fitvid0"></iframe>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
  </body>
</html>