{% extends 'plantilla.html' %} {% block titulo %}Listado de Solicitud Tesis{% endblock titulo %} {% block contenido %}
<div class="container-fluid px-5 pt-5 pb-2 shadow-lg card fondo-card">
  <div class="card card-outline card-info mb-3">
    <div class="card-header rounded-3 shadow-lg fondo-cabecera-card">
      <h1 class="card-title">Listado de Solicitud Tesis</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mb-2">
        <a href="{% url 'agregarSolicitudTesis' %}" class="btn btn-sm btn-info btn-add">
            <i class="fa fa-plus mr-2"></i> Nuevo
        </a> 
    </div>
    <div class="col-md-6 d-flex justify-content-start mb-2">
        {% include 'paginator.html' %}
    </div>
    <div class="col-md-6 mb-2">
        {% include 'buscador.html' %}
    </div>
    <div class=" table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>ESTADO</th>
            <th>OBSERVACION</th>
            <th>DOCUMENTO</th>
            <th><center>OPCIONES</center></th>
          </tr>
        </thead>
        <tbody>
          {% if entity %} {% for solicitud in entity %}
          <tr class="{% if solicitud.estado == 'Aceptada' %}aprobado{% endif %}{% if solicitud.estado == 'Rechazada' %}desaprobado{% endif %}">
            <td>{{ solicitud.id }}</td>
            <td>{{ solicitud.estado }}</td>
            <td>{{ solicitud.observacion }}</td>
            <td>
            <a href="{{ solicitud.documento.url }}" class="btn btn-success btn-sm" target="_black"><i class="fa fa-file mr-1"></i>Archivo</a>
            </td>
            {% include 'opciones.html' with id=solicitud.id  descripcion="Solicitud"  enlace="editarSolicitudTesis" %}
          </tr>
          {% endfor %} {% else %}
          <tr style="text-align: center">
            <td colspan="5">
              <p>No hay registros</p>
            </td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock contenido %} {% block js %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  function eliminar(id, descripcion) {
    Swal.fire({
      title: "¿Realmente desea eliminar Registro?",
      text: "Registro :" + id + " - " + descripcion,
      icon: "question",
      showCancelButton: true,
      cancelButtonText: "No",
      confirmButtonText: "Si",
      reverseButton: true,
      confirmButtonColor: "#dc3545",
    }).then(function (result) {
      if (result.isConfirmed) {
        window.location.href = "/eliminarSolicitud/" + id + "/";
      }
    });
  }
</script>
{% endblock %}
