{% extends 'plantilla.html' %}
{% block titulo %}
    Bienvenido
{% endblock titulo %}
{% block contenido %}
    <div class="container-fluid">
        <div class="row  mt-1 mt-md-4 card py-5 shadow-sm fondo-bienvenido">
            <div class="col-md-12 text-center mb-1 mb-md-4">
                <h1>BIENVENIDOS</h1>
            </div>
            <div class="row d-flex flex-wrap-reverse">
                <div class="col-md-5 offset-md-1">
                    <div class="h3 mb-1 mb-md-4">
                        PALABRAS DEL <span class="text-success">RECTOR</span>
                    </div>
                    <div class="text-link">
                        Estamos frente a un hecho trascendental en la historia de la humanidad: el Coronavirus; el cual conllevó a la suspensión del inicio de clases y actividades académicas, además de las labores administrativas en nuestra alma mater, las cuales se han ido reestableciendo poco a poco pensando en preservar la salud y la vida de nuestra comunidad universitaria.
                        <br><br>
                        Por ello, desde el primer día del Estado de Emergencia Nacional, la Universidad conformó la Comisión de Prevención del COVID-19 de la UNT, integrado por expertos de nuestras Facultades y de docentes, alumnos, y profesionales quienes juntos, hemos podido conseguir grandes logros.
                        <br><br>
                        Todos en la UNT, tenemos presentes que cada cosa que hagamos día a día impactara sobre las miles de familias de nuestros alumnos, docentes y de la comunidad en general. Debemos trabajar arduamente, todos los días; cumplir con los acuerdos, actuar con valores y según los estatutos de la universidad y lograr lo que nos proponemos.
                    </div>
                </div>
                <div class="col-md-5 mb-md-0 mb-1">
                    <img src="http://www.admisionunt.info/images/slider/2.jpg" class="img-fluid h-100" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}